// Title
.title,
.subTitle {
  color: $accent-t;
  text-shadow: $text-shadow;
}
.title--regular {
  font-size: 45px;
}
.title--big {
  font-size: 60px;
}
.subTitle {
  font-size: 14px;
  line-height: 25px;
}
@media (min-width: $bp-splash) {
  .title--regular {
    font-size: 85px;
  }
  .title--big {
    font-size: 85px;
  }
  .subTitle {
    font-size: 18px;
  }
}
// Headings
h1, h2, h3, h4 {
  font-family: $sans-serif;
  font-weight: 800;
}
h2 {
  color: $grey-text;
  font-size: 14px;
}
h3 {
  color: $grey-text;
  font-size: 12px;
}
@media (min-width: $bp-small) {
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
}
.heading {
  text-align: center;
}
// Paragraph Text
.underline {
  text-decoration: underline;
}
p {
  font-family: $serif;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 7px;
}
@media (min-width: $bp-small) {
  p {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 7px;
  }
}
