// Greys
$white: #FFFFFF;
$grey-text: #4A4A4A;
$grey-icon: #808080;
$grey-outline: #DFDFDF;
$grey-shadow: #E6E5EA;
$grey-bg: #4A4A4A;
$grey-footer: #5E5E5E;

// Grey Gradient
$g1: #C2C2C2;
$g2: #E6E6E6;

// Purples
$perfume: #e0abf7;
$lavendar: #bd91e1;
$lilac-bush: #9b79cc;
$blue-violet: #7762b6;
$butterfly-bush: #514ca1;

$p1: $perfume;
$p2: $lavendar;
$p3: $lilac-bush;
$p4: $blue-violet;
$p5: $butterfly-bush;

// Reds and Yellows
$deep-blush: #e6608d;
$deep-froly: #ef6d86;
$bright-froly: #f67c82;
$geraldine: #fa8b7f;
$vivid-tangering: #fc9a7f;
$hit-pink: #fda981;
$macaroni-and-cheese: #fdb887;
$chardonnay: #fcc78f;
$cherokee: #fbd59a;
$peach-yellow: #fae3a8;

$ry1: $deep-blush;
$ry2: $deep-froly;
$ry3: $bright-froly;
$ry4: $geraldine;
$ry5: $vivid-tangering;
$ry6: $hit-pink;
$ry7: $macaroni-and-cheese;
$ry8: $chardonnay;
$ry9: $cherokee;
$ry10: $peach-yellow;

// Blues and Greens
$dodger-blue: #3e77fa;
$deep-azure-radiance: #008aff;
$medium-azure-radiance: #009aff;
$bright-azure-radiance: #00a8ff;
$deep-cerulean: #00b4fa;
$brght-cerulean: #00beee;
$deep-robins-egg-blue: #00c8e0;
$bright-robins-egg-blue: #00d0d2;
$turquoise: #27d7c5;
$viking: #68debb;

$bg1: $dodger-blue;
$bg2: $deep-azure-radiance;
$bg3: $medium-azure-radiance;
$bg4: $bright-azure-radiance;
$bg5: $deep-cerulean;
$bg6: $brght-cerulean;
$bg7: $deep-robins-egg-blue;
$bg8: $bright-robins-egg-blue;
$bg9: $turquoise;
$bg10: $viking;

// Gradients
$g-red: linear-gradient(45deg, $ry1, $ry2, $ry3, $ry4);
$g-purple: linear-gradient(45deg, $p4, $p3, $p2, $p1);
$g-yellow: linear-gradient(45deg, $ry7, $ry7, $ry9, $ry10);
$g-green: linear-gradient(45deg, $bg7, $bg8, $bg9, $bg10);
$g-blue: linear-gradient(45deg, $bg1, $bg2, $bg3, $bg4);
$g-grey: linear-gradient(45deg, $g1, $g2);
