// Accent
$accent-g: $g-red;
$accent-t: $white;

// Font Stacks
$sans-serif: 'Mosk', sans-serif;
$serif: 'Crimson Text', serif;

$shadow-text: 0 2px 4px rgba(12,0,51,0.1);
$shadow-content: 0 2px 4px rgba(12,0,51,0.1);

// Styling
$border-radius: 4px;

// Breakpoints
$bp-small-450: 450px;
$bp-header-600: 600px;
$bp-splash-800: 800px;
// Width
$w-header: 1130px;
$w-wrapper: 680px;
