@font-face {
  font-family: 'Mosk';
  src: url('../webfonts/mosk/mosk_thin_100-webfont.woff2') format('woff2')
  , url('../webfonts/mosk/mosk_thin_100-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Mosk';
  src: url('../webfonts/mosk/mosk_extra-light_200-webfont.woff2') format('woff2')
  , url('../webfonts/mosk/mosk_extra-light_200-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Mosk';
  src: url('../webfonts/mosk/mosk_light_300-webfont.woff2') format('woff2')
  , url('../webfonts/mosk/mosk_light_300-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Mosk';
  src: url('../webfonts/mosk/mosk_normal_400-webfont.woff2') format('woff2')
  , url('../webfonts/mosk/mosk_normal_400-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mosk';
  src: url('../webfonts/mosk/mosk_medium_500-webfont.woff2') format('woff2')
  , url('../webfonts/mosk/mosk_medium_500-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Mosk';
  src: url('../webfonts/mosk/mosk_semi-bold_600-webfont.woff2') format('woff2')
  , url('../webfonts/mosk/mosk_semi-bold_600-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Mosk';
  src: url('../webfonts/mosk/mosk_bold_700-webfont.woff2') format('woff2')
  , url('../webfonts/mosk/mosk_bold_700-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Mosk';
  src: url('../webfonts/mosk/mosk_extra-bold_800-webfont.woff2') format('woff2')
  , url('../webfonts/mosk/mosk_extra-bold_800-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Mosk';
  src: url('../webfonts/mosk/mosk_ultra-bold_900-webfont.woff2') format('woff2')
  , url('../webfonts/mosk/mosk_ultra-bold_900-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
