.button {
  border-radius: $border-radius;
  box-shadow: 0 16px 24px 0 rgba(12,0,51,0.1);
  font-family: $sans-serif;
  font-weight: 800;
  font-size: 14px;
  padding: 15px 30px;
  text-decoration: none;
}
.button--accent {
  background: $accent-g;
  color: $accent-t;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $accent-t;
  }
}
.button--white {
  background-color: $white;
  color: $grey-text;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $grey-text;
  }
}
.button--outline {
  border: 1px solid $grey-text;
  color: $grey-text;
  padding: 6px 25px;
  box-shadow: none;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $grey-text;
  }

}
