.categories {
  width: 100%;
  background-color: $white;
}
.categories__wrapper {
  max-width: $w-wrapper;
  margin: 0 auto;
  padding: 50px 20px;
}
.theme__heading-container {
  padding-bottom: 12px; // Needs padding like heading
}
.theme__overflow-container {
  height: 100%;
}
.theme__overflow {
  padding-left: 60px;
  padding-bottom: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, transparent, $white, $white, $white)
}
.overflow-arrow {
  background-color: green;
  z-index: 50;
}
